.Input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.Label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  font-weight: bold;
}

.InputElement {
  display: block;
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;

  font: inherit;

  outline: none;
  border: 1px solid #cccccc;
  background-color: #fff;

}

.InputElement:focus {
  outline: none;
  background-color: #cccccc;
}

.Invalid {
  border-color: red;
  background-color: #ffafa9;
}

.Invalid:focus {
  background-color: #ffafa9;
}
