.TextPanel{
  display: block;
  margin: 0 1rem;
  padding: 1rem;
  text-align: center;

  border-style: solid;
  border-width: thin;
  border-radius: 2px;

  /*box-shadow: 0 2px 5px #9a9a9a;*/
}

.info{
  background-color: #eeeeee;
  color: #777777;
  border-color: #777777;
}

.danger{
  background-color: #ffafa9;
  color: darkred;
  border-color: darkred;
}
