.OrderSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

.Burger {
  display: block;
  width: 100%;
  margin: auto;
}

@media (min-width: 600px) {
  .OrderSummary {
    width: 500px;
  }
}
