.FormData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #cccccc;
  border: 1px solid #eeeeee;
  padding: 10px;
  box-sizing: border-box;
}

.Input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0.5rem 0;
}

@media (min-width: 600px) {
  .FormData {
    width: 500px;
  }
}
